:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --custom-purple: #a713f6;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url("/bg.svg") no-repeat center/contain; */
}

body {
  margin: 20px 50px;
  width: auto;
  height: auto;
}

.logo {
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* color: var(--custom-purple); */
  color: var(--custom-purple);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 85vh;
  text-align: center;
  font-size: 1.2rem;
  padding: 0 20px;
  /* background: url("/public/blank-note.jpg") no-repeat center; */
  background: url("/cabinote.svg") no-repeat left/contain;
}

#header .menu_wrapper {
  display: flex;
  gap: 25px;
}

.menu_items {
  display: flex;
  gap: 25px;
}
.menu_items_icons {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.phone_menu {
  visibility: hidden;
}

:where(.css-dev-only-do-not-override-1gyh646).ant-tooltip .ant-tooltip-inner {
  background-color: var(--custom-purple);
}
:where(.css-dev-only-do-not-override-1gyh646).ant-tooltip {
  --antd-arrow-background-color: var(--custom-purple);
}

:where(.css-dev-only-do-not-override-77tu7h).ant-btn > span:not(:only-child) {
  display: block;
  align-self: center;
}

.no-focus-outline:focus {
  outline: none;
  border: 0;
  box-shadow: 0 0 0px #d699ff;
}
.no-focus-outline:hover {
  outline: none;
  border: 0;
  box-shadow: 0 0 0px #d699ff;
}

.icon_color {
  background-color: var(--custom-purple);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Ensures a minimum width of 300px */
  gap: 30px; /* Spacing between cards */
  padding: 40px;
}
.card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  border-top: #d699ff solid 2px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: rgba(68, 67, 67, 0.77);
}
.card:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 3px 5px rgba(0, 0, 0, 0.1);
}

.tag_category {
  border: solid 1px rgba(128, 128, 128, 0.334);
  border-radius: 100px;
  color: black;
  /* font-weight: bold; */
  padding: 2px 12px;
  font-size: x-small;
  display: inline-block;
}

.user_entries {
  color: rgba(68, 67, 67, 0.77) !important;
}

.ant-select-single.ant-select-lg.ant-select-show-arrow
  .ant-select-selection-item,
.ant-color-picker-trigger .ant-color-picker-trigger-text,
input {
  color: rgba(68, 67, 67, 0.77) !important;
}

:where(.css-dev-only-do-not-override-77tu7h).ant-input-outlined,
.ant-input-outlined:hover {
  border-color: #d699ff;
}

:where(.css-dev-only-do-not-override-77tu7h).ant-input-outlined:focus {
  border-color: #a713f6;
}

:where(.css-dev-only-do-not-override-77tu7h).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector,
.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #d699ff;
  background: #ffffff;
}

:where(.css-dev-only-do-not-override-77tu7h).ant-select-outlined:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: #d699ff;
}

.ant-select-focused:where(
    .css-dev-only-do-not-override-77tu7h
  ).ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #a713f6;
}

.ant-select-item-option:hover {
  background-color: #d699ff3c !important; /* Your desired hover color */
  /* Change the text color if needed */
}

.ant-select-item-option-selected {
  background-color: #d699ff3c !important;
  /* color: white !important; */
}

.ant-color-picker-trigger,
.ant-color-picker-trigger:hover {
  border-color: #d699ff;
}

.ant-color-picker-trigger.ant-color-picker-trigger-active {
  border-color: #a713f6;
}
.ant-form-item-label > label {
  font-size: medium;
  font-weight: 500;
  /* color: rgb(68, 67, 67) !important; */
  color: rgba(68, 67, 67, 0.77) !important;
}

.ant-modal .ant-modal-content {
  padding: 20px 10px;
}

.ant-modal-root .ant-modal-mask {
  background-color: rgba(229, 187, 245, 0.3);
}

figcaption {
  font-size: medium;
  font-weight: 500;
}

article {
  font-weight: 400;
  font-size: small;
}
@keyframes blurIn {
  from {
    opacity: 0;
    filter: blur(0px);
  }
  to {
    opacity: 1;
    filter: blur(0.5px);
  }
}

@keyframes blurOut {
  from {
    opacity: 1;
    filter: blur(0.5px);
  }
  to {
    opacity: 0;
    filter: blur(0px);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(229, 187, 245, 0.3);
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  backdrop-filter: blur(1.2px);
}

.overlay.show {
  pointer-events: all;
  animation: blurIn 1s ease forwards;
}

.overlay.hide {
  pointer-events: none;
  animation: blurOut 1s ease forwards;
}

@media screen and (max-width: 649px) {
  body {
    margin: 20px 25px;
  }

  #header .menu_wrapper {
    display: none;
  }

  .card {
    width: 100%;
  }

  .wrapper,
  header {
    padding: 10px;
  }
}
